.header {
    background-color: rgba(var(--bs-tertiary-bg-rgb),var(--bs-bg-opacity));
    border-bottom: 1px solid grey;

}
.collapse {
    justify-content: space-between
}

.stories {
    margin-top: 50px;
}
.stories .story-row {
    padding: 30px;
    border: 1px solid grey;
    background-color: #dcdcdc33;
}
.story-section img {
    border: 2px solid hotpink;
}
.postuserfon {
    color: black;
}
.list-group-horizontal {
    list-style-type: none; 
    border-style: none; 
    justify-content:space-between
}
.nav-link i {
    color: black; 
    position: relative; 
    font-size: 23px;     
    margin-right: 30px;
}